@charset "UTF-8";
a {
  font-weight: normal;
}

a:hover {
  font-weight: bold;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-size: 20px;
}

body div {
	font-size: 10px;
	background: red;
}

.header {
	background: red;
	color: yellow;
	display: inline-block;
	box-shadow: 5px 5px;
	filter: saturate(green);
}
body p {
  font-style: italic;
  color: #ccc;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

input {
  border: 1px solid gray;
  background: white;
}

input[type=text] {
  color: black;
}

input .some_class {
  display: none;
}
