extends layout/main

block content
	article.test
		p Hello world
		p Bye
	footer
		h1 Pug - node template engine
			p.
			strong focus on performance and powerful features.
		.nav
			|
			|
			a (href="")1
			|
			|
			a (href="")2
			|
			|
			a (href="")3
